cvxpy==1.1.14
cycler==0.10.0
dill==0.3.4
ecos==2.0.7.post1
kiwisolver==1.3.1
matplotlib==3.4.2
multiprocess==0.70.12.2
numpy==1.21.0
osqp==0.6.2.post0
pathos==0.2.8
Pillow==8.2.0
pox==0.3.0
ppft==1.6.6.4
pyparsing==2.4.7
python-dateutil==2.8.1
qdldl==0.1.5.post0
scipy==1.7.1
scs==2.1.4
six==1.16.0
tqdm==4.61.1
